
*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 5px 5px black;
}

body {
    background-color: #001;
    height: 100vh;

    display: flex;
}

.profile-image
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid greenyellow;
    flex-shrink: 0;
}

.profile-image img {
    width: 100%;
}

.profile {
     display: flex;
     align-items: center;
     gap: 30px;
}



.profile h2{

    font-size: 20px;
}

.menue {

    background-image: linear-gradient(to right,#123,#321);
    width: 60px;
    overflow: hidden;
    height: 100vh;
    padding: 20px;
    border-radius: 0 25px 25px 0;
    transition: 320ms ease-in;
}

.menue:hover {
    width: 260px;
    cursor: e-resize;
}

ul {
    list-style: none;
    position: relative;
    height: 95%;
}

ul li a {
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 50px;
    transition: all 750ms ease-in-out;
}

ul li a:hover, .ActiveButton , .data-info .box:hover , table td:hover{

    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.Log-out {

    position: absolute;
    width: 100%;
    bottom: 0;
}

.Log-out a {
    background-color: rgb(255, 0, 0,0.3);
}

.Log-out a:hover {
    background-color: rgb(255, 0, 0, 1);
}

ul li a i {
    font-size: 30px;
    color: aqua;
}

.content {
    width: 100%;
    margin: 10px;
}

.tilte-info , .Tabel-tilte-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom,#1e1e,#1e1ddd55);
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    transition: 500ms ease;
}

.tilte-info:hover,
.Tabel-tilte-info:hover {
   
    background-image: linear-gradient(to top , red , yellow);
   font-size: 30px;
   border-radius: 15px;
   cursor: pointer;

}

.data-info { 

    display: flex;
    flex-flow: row wrap;
    /* place-content: space-between center; */
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.box {

    height: 150px;
    background-color: #123;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

    /* flex-shrink: 0;
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    height: 150px; */
}

.data-info .box i {

    color: rgba(183, 255, 0, 0.505);
    font-size: 30px;
    transition: 1s ease;
}

.data-info .box i:hover {

    color: rgba(245, 245, 245);
    font-size: 35px;
}

.data-info .box .data strong {
     font-size: 20px;
     transition: 1s ease;
}

.data-info .box .data strong:hover {
    font-size: 25px;
    color: yellow;
}

.data-info .box .data span {
    font-size: 15px;
    transition: 1s ease;
}

.data-info .box .data span:hover {
    font-size: 20px;
    color: yellow;
}


table {
    border-radius: 5px;
    width: 100%;
    text-align: center;
    border: 3px solid ;
    border-spacing: 4px;
}

td , th {
    height: 40px;
    background-color: #123;
    border-radius: 8px;
    padding: 10px;
}

th {
    background-color: #0080ff;
}

table .study-time-line
{

    background-color: green;
}

table .salary {

    background-color: yellow;
    color: black;
}

table .study-time-line, table .salary {

    font-size: 20px;
    border-radius: 8px;
    padding: 8px;
    transition: 850ms ease-in;
}